### Git global configurations ###

[user]
  name  = Appakun
  email = appachan.hotel@gmail.com 

[github]
  user = appachan

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  wdiff = diff --word-diff
  elog = ! git log --oneline --color | emojify | less -r

[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global

[commit]
  template = ~/.GIT_COMMIT_TEMPLATE.txt

[ghq]
  root = ~/workspace/dev
